@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 65px;
  --other-fixed-height: 165px;
  --image-individual: 55px;
  --custom-height: calc(var(--navbar-height) + var(--other-fixed-height));
  --custom-height-collections: calc(var(--navbar-height) *2);
  --custom-height-image-individual: calc(var(--navbar-height) + var(--image-individual));
}

@theme  inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xs: 30rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Be Vietnam Pro';
}

.masonry-grid {
  column-count: 4;
  column-gap: 25px;
  row-gap: 25px;
  
}

.bannerInput {
  height: 100px !important;
  position: initial !important;
}